<header>
  <nav>
    <a
      aria-label="Todo Github Repository"
      target="_blank"
      href="https://github.com/fcesc-code/todoapp#README"
      title="Github Repository"
    >
      Repository
    </a>
  </nav>
</header>

<main class="content">
  <p>TODO APP WORKS!</p>

  <router-outlet></router-outlet>
</main>

<footer class="content">
  <p>
    Francesc Brugarolas -
    <a
      aria-label="Universitat Oberta de Catalunya"
      target="_blank"
      title="Universitat Oberta de Catalunya"
      href="https://uoc.edu"
      >UOC</a
    >
    - Frontendavançat -
    <time datetime="2021-11">Novembre 2021</time>
  </p>
</footer>
